:where(a, a:active, a:visited){
    color: white;
    text-decoration: none;
}

.hero-con{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    margin-top: 4rem;
    
}
.hero-text-con h1{
    font-size: 2.2rem;
}
.hero-text-con h1 span{
    color: red;
}
.hero-con p{
    margin-top: 1rem;
    line-height: 1.8rem;
}
.hero-btns{
    margin-top: 2rem;
}
.hero-btns button{
    width: 8rem;
    padding: 0.5rem 0.1rem;
    border-radius: 5px;
    cursor: pointer;

}
.second-btn a, .second-btn a:active, .second-btn a:visited{
    color: black;
}
.first-btn{
    margin-right: 1rem;
    background-color: red;
    border: none;
    color: white;
}

.second-btn{
    border: 1px solid red;
    background-color: transparent;
}
.hero-icons{
    display: flex;
    align-items: center;
}
.hero-icons{
    margin-top: 2rem;
}
.hero-icons p{
    padding-right: 1rem;
}
.hero-icons p span{
    vertical-align: sub;
}
@media (max-width:1021px) {
    .hero-image-con > img{
        width: 100%;
    }
}
@media (max-width:845px) {
    .hero-con{
        display: flex;
        flex-direction: column;
        
    }
}
@media (max-width:383px) {
    .hero-text-con h1{
        font-size: 1.8rem;
    }
    .hero-icons p{
        padding-right: 0.3rem;
    }
}
@media (max-width:359px) {
    .hero-text-con h1{
        font-size: 1.8rem;
    }
    .hero-icons p{
        padding-right: 0.3rem;
    }
}