:where(a, a:active, a:visited){
    color: white;
    text-decoration: none;
}

.services-section{
    margin-top: 6rem;
}
.services-section > h2{
    text-align: center;
    margin-bottom: 2rem;
}
.categories-grid-con{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    place-items: center;
    gap: 1rem;
}
.service-con{
    width: 25rem;
    border: 1px solid red;
    padding: 0.5rem;
    border-radius: 10px;
}
.image, .video{
    width: 100%;
    aspect-ratio: 3/3;
    border-radius: 10px;
    
}
.service-btn-con{
    display: flex;
    justify-content: center;
    margin: 0.5rem 0;
}
.service-btn-con button{
    width: 8rem;
    color: white;
    background-color: red;
    border-radius: 5px;
    padding: 0.5rem 0.1rem;
    border: none;
}
.categories-btn-con{
    margin-bottom: 1rem;
    display: flex;
    
}
.categories-btn-con button{
    width: 4rem;
    padding: 0.3rem 0.1rem;
    border-radius: 5px;
    border: 1px solid red;
    margin-left: 1rem;
    cursor: pointer;
   
}
.active{
    background-color: red;
    color: white;
    transition: 0.3s all ;
}
@media (max-width:1309px) {
    .service-con{
        width: 20rem;
       
    }
}
@media (max-width:1021px) {
    .service-con{
        width: 17rem;
       
    }
}
@media (max-width:895px) {
    .service-con{
        width: 15rem;
       
    }
}
@media (max-width:845px) {
    .categories-grid-con{
        grid-template-columns: repeat(2,1fr);
       
    }
    .service-con{
        width: 90%;
       
    }
    .categories-btn-con{
        margin-bottom: 1rem;
        display: flex;
        white-space: nowrap;
        overflow-x: scroll;
    }
}
@media (max-width:433px) {
    .service-btn-con button{
        width: 6rem;
       
    }
}
@media (max-width:399px) {
    .categories-grid-con{
       column-gap: 0rem; 
       row-gap: 1rem;
    }
}